
<form method="post" id="form-modal-delete">
<div id="modal-delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Confirm operation</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    
  </div>
  <div class="modal-body">
  
    <p>Are you sure you want to remove the following schedule ?</p>
    <h6 class="font-weight-bold">Date: <span class="font-weight-normal" id="modal-date"> </span></h6>
    <h6 class="font-weight-bold">Starting time: <span class="font-weight-normal" id="modal-start_at"> </span></h6>
    <h6 class="font-weight-bold">Ending time: <span class="font-weight-normal" id="modal-end_at"> </span></h6>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-success">Confirm</button>
  </div>
</div>

</div>
</div>
</form>