<form method="POST" action="../schedule">
      
      <div class="border border-secondary mt-4 rounded p-4 column-height">
        
        <h3 class="subtitle text-dark font-weight-bold mb-1 text-center">New schedule</h3>
        
        
        <div class="new-schedule w-75 mt-3 mx-auto">
          <label for="date" class="font-weight-bold mb-1">Date</label>
          <input class="form-control" type="date" id="date" name="date"  max="9999-12-31" required>
        </div>

        <div class="w-75 mx-auto">
          <label for="start_at" class="font-weight-bold mb-1">Starting time</label>
          <input class="form-control" type="time" id="start_at" name="start_at" required>
        </div>
        <div class="w-75 mx-auto">
          <label for="end_at" class="font-weight-bold mb-1">Ending time</label>
          <input class="form-control" type="time" id="end_at" name="end_at" required>
      </div>
    <div class="container">
      <div class="row">  
            <div class="col text-center ">       
                <button type="submit" class="btn btn-secondary w-25 mt-4 pb-2 button">OK</button>
                <p class="text-danger font-weight-bold mt-3"><%= locals.message %></p>
            </div>
        </div>
    </div> 
</div>
</form>