<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>

  <body>
    <%- include('./partials/navbar') %>
  <div class="container-fluid bg-light"></div>
    <div class="main">
      
    </div>
  </body>
</html>