<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/navbar') %>

    <form method="POST" action="../recover"> 
    <div class="container-fluid bg-light w-100">
      <div class="main mx-auto">
       
     <h2 class="text-center text-danger mt-5">Code not found</h2>   
    </div>
  </div>
  </form>
  </body>
</html>