<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/navbar') %>

    <form method="POST" action="../reset"> 
    <div class="container-fluid bg-light w-100">
      <div class="main mx-auto">
       
      <a class="title-link" href="#"><h1 class="subtitle text-dark font-weight-bold mt-3">Reset Password</h1></a>
      <%- include('../partials/alert') %>
      
    <div class="input-group mt-3 mx-auto">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock" ></i></span>
        </div>
        <input type="password" class="form-control" id="first_password" placeholder="password"  name="first_password" required>
    </div>
    <div class="input-group mt-3 mx-auto">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock" ></i></span>
        </div>
        <input type="password" class="form-control" id="second_password" placeholder="confirm password"  name="second_password" required>
    </div>
    <div class="container">
        <div class="row">  
            <div class="col text-center ">       
                <button type="submit" class="btn btn-secondary w-25 mt-4 pb-2 button">OK</button>
                <div class="input-group mt-3 w-100">
                  <p class="mx-auto">Password must meet the following requirements</p>
              </div>
              <ul class="list-unstyled">
                  <li> - Between 8 and 100 characters</li>
                  <li> - No blank spaces</li>
                  <li> - At least 2 digits and 1 special character</li>
                  <li> - At least 1 Uppercase and Lowercase character</li>
              </ul>
            </div>
        </div>
    </div>   
    </div>
  </div>
  </form>
  </body>
</html>